* {
  user-select: none;
}

body {
  margin: 0;
}

.titl2 {
  text-align: center;
  margin: 35px;
  width: 100%;
}

.titl2 a {
  color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.super {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 116px;
  font-weight: bold;
  margin: 0;
}

.super small {
  color: gray;
}

header h2 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5rem;
  font-weight: 100;
}

nav {
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

ul {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

li {
  display: flex;
  width: 200px;
  border-left: 1px solid black;
  list-style: none;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
}

.ultimo {
  border-right: 1px solid black;
}

li a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.last-post {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 60px 0;
  border-bottom: 1px solid black;
}

.title__container {
  display: none;
}

.lastContainer {
  height: auto;
  width: 75%;
  border: 1px solid black;
  user-select: none;
}

.lastContainer:hover {
  cursor: pointer;
}

.last-image {
  background-image: url(/assets/image/cardona.jpg);
  background-repeat: no-repeat;
  display: flex;
  height: 30vw;
  background-size: cover;
  background-position-y: -110px;
}

.last-image .last-title {
  width: 30vw;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  position: relative;
  top: -10%;
  left: -1px;
}

.last-image .last-title p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
}

.last-details {
  margin: 0;
  max-height: 17vw;
  padding: 10px 30px 10px 30px;
}

.last-details h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin: 20px 0;
}

.last-details h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin: 10px 0;
}

.last-details h3:hover {
  color: gray;
}

.last-details p {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

li a:hover {
  color: gray;
}

.material-icons.goUp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 50px;
  background-color: white;
}

.material-icons:active {
  text-decoration: none;
}

.some-postGeneralContainer {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.some-postContainer .button-for {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  border: 1px solid black;
  padding: 10px 40px;
}

.some-postGeneralContainer .title .title-touch {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.title {
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.some-postContainer a:hover {
  color: gray;
}

.some-post {
  border: 1px solid black;
  width: 50vw;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-align: start;
}

.some-post h3 {
  font-size: 23px;
}

.some-post h3 small {
  font-size: 17px;
  font-weight: 400;
}

.some-info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 31vw;
  border-left: 1px solid black;
  justify-content: flex-end;
}

.some-post-image {
  height: 300px;
  width: 100%;
  background-image: url(/assets/image/more-postDemo.jpg);
  background-size: 600px;
  background-position-x: -90px;
  background-position-y: -20px;
  background-repeat: no-repeat;
}

.some-post {
  user-select: none;
}

.some-post.post1 .some-post-image {
  background-image: url(/assets/image/diaz.png);
  background-size: 350px;
  background-position-x: -30px;
  background-position-y: -30px;
}

.some-post.post2 .some-post-image {
  background-image: url(/assets/image/david.jpg);
  background-position-y: 2px;
}

.some-post.post3 .some-post-image {
  background-image: url(/assets/image/fem.jpg);
}

.some-post.post3 h3 {
  font-size: 16px;
}

.some-post.post4 .some-post-image {
  background-image: url(/assets/image/game.jpg);
}

.some-post-details {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.some-post-details h4 {
  margin: 5px;
  font-size: 14px;
  font-weight: 200;
}

.some-post-details p {
  margin: 0;
  font-size: 18px;
}

.some-post-details h3:hover {
  color: gray;
}

.about-me {
  width: 25vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: black;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  text-align: center;
}

.about-me p {
  margin-top: 15px 0;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 200;
  text-align: justify;
}

.contact {
  box-sizing: border-box;
  width: 25vw;
  margin: auto;
  margin-top: 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h3 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid gray;
}

.contact p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  /* font-family: "Playfair Display", serif; */
}

footer {
  color: black;
  width: 100vw;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin-top: 20px;
  background-color: #e8e6e6;
}

.button-more {
  text-align: center;
  width: 100%;
}

.phrase {
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  align-items: center;
}

.phrase-title {
  width: 30vw;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.remember {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.material-icons.burger {
  display: none;
}

.phrase-title small {
  font-size: 30px;
  font-weight: 800;
}

.see {
  display: none;
}

/* @media screen and (max-width: 1920px) {
  nav ul li {
    width: 200px;
  }
} */

@media screen and (max-width: 1024px) {
  nav ul li {
    width: 150px;
  }

  .last-post {
    padding: 80px 0 60px 0;
  }

  .last-post .last-title p {
    font-size: 20px;
  }

  .last-post .last-title {
    top: -22px;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .titl2 {
    background-color: black;
    margin: 0;
    position: fixed;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100vw;
    z-index: 1;
  }

  .titl2 h2 {
    display: none;
  }

  .titl2 a {
    color: white;
    font-size: 30px;
  }

  .material-icons.burger {
    position: fixed;
    color: white;
    right: 10px;
    top: 10px;
    display: block;
    z-index: 4;
  }

  .buttons {
    display: none;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    left: -800px;
    transition: 0.3s;
    top: 10px;
  }

  .menu a {
    color: white;
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-decoration: none;
  }

  .menu.activate {
    left: 0;
  }

  .last-post {
    width: 100%;
  }

  .last-details h4 {
    font-size: 15px;
    margin: 10px 0;
  }

  .last-details {
    padding-bottom: 0;
  }

  .last-details p {
    font-size: 14px;
  }

  .phrase {
    width: 80%;
  }

  .lastContainer {
    width: 100%;
  }

  .titl2 {
    width: 100vw;
    height: 50px;
  }

  .last-image {
    width: 100%;
    background-position: center;
  }

  .material-icons.burger {
    margin: auto;
    font-size: 30px;
  }

  .last-post {
    border: none;
    margin-bottom: 40px;
  }

  .phrase {
    display: none;
  }

  .some-postGeneralContainer {
    width: 100%;
  }

  .some-postContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .some-post {
    width: 90%;
  }

  .button-more {
    border-bottom: 1px solid gray;
    height: 60px;
    width: 80%;
  }

  .title {
    align-items: center;
  }

  .some-info {
    border-left: none;
    width: 100%;
  }

  .about-me {
    width: 80%;
  }

  .about-me p {
    margin-top: 15px 0;
  }

  .contact {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .some-post-details p {
    font-size: 15px;
  }

  .some-postGeneralContainer {
    padding: 0;
    margin-top: 0;
  }

  .lastContainer {
    margin-bottom: 30px;
    margin-top: 60px;
    border: none;
    width: 100%;
    margin-top: 50px;
  }

  .last-post {
    padding: 0 0 60px 0;
  }

  .last-image {
    height: 200px;
  }

  .last-details {
    margin: 0;
    height: auto;
  }

  .last-post h4 {
    font-size: 10px;
    margin-top: 30px;
    font-size: 16px;
  }

  .last-post h3 {
    font-size: 27px;
  }

  .last-details {
    padding-top: 0;
  }

  .last-details p {
    font-size: 14px;
  }

  .title {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
  }

  .title .title-touch {
    font-size: 40px !important;
    margin: 0;
    font-weight: 200 !important;
  }

  .title__container {
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: block;
  }

  .title__container h2 {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    line-height: 1;
  }
}
